mat-card {
    width: 50%;
    margin: auto;
    padding: 0px;
    background-color: #B2E4DB;
}

mat-list-item {
    text-decoration: underline;
    border-bottom: black 1px solid;
}

mat-list-item:hover {
    background-color: #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
}
h1, p, mat-list-item {
    text-align: center;
}

.cards {
    margin: auto;
}