<div class="main-container">
  <div class="cards">
    <h2>{{ course["name"] }}</h2>
    <mat-card>
      <mat-form-field>
        <input
          matInput
          [formControl]="playerName"
          placeholder="Player Name"
          type="text"
        />
        <mat-error *ngIf="playerName.hasError('duplicate')"
          >Duplicate Name</mat-error
        >
      </mat-form-field>

      <mat-card>
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-label>Select tee type</mat-label>
            <mat-option *ngFor="let tee of teeBox[0]">{{
              tee.teeBox
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>


      <p *ngFor="let tee of teeBox[0]">{{ tee.teeType | json }}</p>

      <div
        id="dropdowns"
        class="form-group d-flex flex-column justify-content-center"
      >
        <select
          name="teeType"
          id="teeTypeDropDown"
          class="checkValid form-control"
        >
          <option value="0">Select the tee type:</option>
          <option value="champ" id="champion">Champion Tee</option>
          <option value="pro" id="professional">Professional Tee</option>
          <option value="men" id="men">Men's Tee</option>
          <option value="women" id="women">Women's Tee</option>
        </select>
        <select name="holes" id="holesDropdown" class="checkValid form-control">
          <option value="0">Select holes to play</option>
          <option value="front9" id="front9">Front 9</option>
          <option value="back9" id="back9">Back 9</option>
          <option value="full18" id="full18">Full 18</option>
        </select>
      </div>

      <button mat-mini-fab color="primary" (click)="addPlayer()">
        <mat-icon>add</mat-icon>
      </button>

      <div>{{ players | json }}</div>
    </mat-card>
    <mat-card class="scorecard">
      <table>
        <thead>
          <th>Name</th>
          <th *ngFor="let hole of holes">{{ hole | titlecase }}</th>
          <th>Total Par</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let player of players; let i = index">
            <td>{{ player.name }}</td>
            <td *ngFor="let hole of holes">
              <input
                type="number"
                [id]="hole"
                [(ngModel)]="player[hole]"
                class="par-input"
              />
            </td>
            <td class="total-cell">{{ getTotalPar(player) }}</td>
            <td>
              <button mat-icon-button (click)="deletePlayer(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        mat-raised-button
        color="primary"
        class="submit"
        (click)="submit()"
      >
        Submit to Scoreboard
      </button>
    </mat-card>
  </div>
</div>
